<!doctype html>
<html lang="en">

<head>
    {% load static %}
    <!-- Required meta tags -->
    <meta charset="utf-8">
    <meta name="viewport" content="width=device-width, initial-scale=1, shrink-to-fit=no">
    <!--link rel="stylesheet" href="{% static 'portfolio/portfolio.css' %}"-->
    <!-- Bootstrap CSS -->
    <!-- CSS only -->
    <link href="https://cdn.jsdelivr.net/npm/bootstrap@5.2.0-beta1/dist/css/bootstrap.min.css" rel="stylesheet"
        integrity="sha384-0evHe/X+R7YkIZDRvuzKMRqM+OrBnVFBL6DOitfPri4tjfHxaWutUpFmBp4vmVor" crossorigin="anonymous">
    <!-- Google fonts -->
    <link rel="preconnect" href="https://fonts.googleapis.com">
    <link rel="preconnect" href="https://fonts.gstatic.com" crossorigin>
    <link href="https://fonts.googleapis.com/css2?family=Source+Code+Pro:ital,wght@1,600&display=swap" rel="stylesheet">

    <title>Ankit's Portfolio</title>
</head>

<body>
    <nav class="navbar" style="padding: 20px;">
        <div class="nav-header">
            <h2>Ankit's Portfolio</h2>
        </div>
            <ul class="nav justify-content-end">
                <li class="nav-item">
                    <a class="nav-link active" href="#">Home</a>
                </li>
                <li class="nav-item">
                    <a class="nav-link" href="{% static 'portfolio/resume.docx' %}">My Resume</a>
                </li>
                <li class="nav-item">
                    <a class="nav-link" href="{% url 'blog:all_blogs' %}">My blogs</a>
                </li>
                <li class="nav-item">
                    <a class="nav-link" href="https://www.instagram.com/the_unpredicted_law/" target="_blank">Follow me on Instagram</a>
                </li>
            </ul>
    </nav>
    <br><br>
    {% block content %}{% endblock %}


</body>

</html>